
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#editor {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    color: white;
    overflow-y: auto;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: block;
    box-sizing: border-box;
}

.ql-editor img {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.ql-font-Montserrat { font-family: 'Montserrat', sans-serif; }
.ql-font-Attractive { font-family: 'Attractive', sans-serif; }
.ql-font-Dots { font-family: 'Dots', sans-serif; }
.ql-font-Sans { font-family: 'Sans', sans-serif; }
.ql-font-Inter { font-family: 'Inter', sans-serif; }
.ql-font-Raleway { font-family: 'Raleway', sans-serif; }
.ql-font-Baskerville { font-family: 'Baskerville', serif; }
.ql-font-MarkerFelt { font-family: 'MarkerFelt', sans-serif; }
.ql-font-Cochin { font-family: 'Cochin', serif; }
.ql-font-DINCondensed { font-family: 'DINCondensed', sans-serif; }
.ql-font-Palatino { font-family: 'Palatino', serif; }
.ql-font-Rockwell { font-family: 'Rockwell', serif; }
.ql-font-Copperplate { font-family: 'Copperplate', serif; }

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Attractive';
    src: url('Attractive.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Attractive';
    src: url('Attractive-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Dots';
    src: url('Dots.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sans';
    src: url('Sans.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sans';
    src: url('MinSans-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MarkerFelt';
    src: url('MarkerFelt.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cochin';
    src: url('Cochin.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cochin';
    src: url('Cochin-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DINCondensed';
    src: url('DINCondensed.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino';
    src: url('Palatino.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino';
    src: url('Palatino-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rockwell';
    src: url('Rockwell.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Copperplate';
    src: url('Copperplate.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Copperplate';
    src: url('Copperplate-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
